<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBurguer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><img src="/images/logoA.png" alt="Logo"></div>
            <div class="logo-title"><a href="/">DevBurguer</a></div>
            <ul>
                <li><a href="/api/lanches">Cardápio</a></li>
                <button type="submit"><a id="contact-text" href="/contato">Contato</a></button>
            </ul>
        </div>
    </nav>
    <section>
        <h2 id="suggestion-title">Sugestão</h2>
        <p id="suggestion-p">Nos dê uma sugestão de um hamburguer que você queira.</p>
        <form action="/sugestao" method="GET" class="suggestion-form">
            <input name="nome" id="suggestion-name" type="text" placeholder="Nome" required>
            <input name="ingredientes" id="suggestion-ingredients" type="text" placeholder="Ingredientes" required>
            <button id="btn-enviar" type="submit">Enviar</button>
        </form>
    </section>
</body>

</html>